h1 {
    font-size: 40px;
    color: #dfe3f0;

}
h2 {
    color: #dfe3f0;
}
h3 {
    color: #dfe3f0;
}

body{
    background-color: #757b97;
}

th{
    color: #dfe3f0;
}
td{
    color: #c5cbdc;
}
#waltonhigh {
    color: #d6d0f5c0
}
#Reasoning {
    color: #d6d0f5c0
}
.Home {
    color: #d6d0f5c0
}